{# @controllerAppBundle:Product:index #}
{# @var Product $product#}

{% extends "layout/base.html.twig" %}

{% block javascript %}
    {{ parent() }}

    {% javascripts filter="?jsqueeze" output="js/app.js"
        "assets/js/product.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="product__product-card">
        <div class="container">
            <div class="row mb-45">
                <div class="col-sm-5 col-xl-4 main-padding">
                    <div class="owl-carousel owl-theme product__main-slider">
                        {% for image in product.images  %}
                            <div data-fancybox="gallery" href="{{ path('product_image', {'product_id':product.id, 'file_name': image.fileName}) | imagine_filter('thumb_800_wm_topped') }}">
                                <img class="b-lazy" src="{{ pixel }}"
                                     data-src="{{ path('product_image', {'product_id':product.id, 'file_name': image.fileName}) | imagine_filter('thumb_800_wm_topped')}}"
                                     alt=""/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-7 col-xl-5 main-padding">
                    <div class="product__info fs-18">
                        <h1 class="fs-30 mb-4">{{ product.name }}</h1>
                        <div class="mb-4">
                            {{ product.description }}
                        </div>
                        {% if product.fakePrice %}
                            <div class="fs-45 product__fake-price">
                                <strong>{{ product.fakePrice }} ₽</strong>
                            </div>
                        {% endif %}
                        <div class="fs-45 mb-4">
                            <strong>{{ product.price }} ₽</strong>
                        </div>
                        <div>
                            Оценка покупателей:
                        </div>
                        <div>
                            {{ product.rating|rating(10) }}
                        </div>

                        <button class="btn btn-buy">Купить</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs justify-content-center product-menu__list mb-45" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tabDesc" role="tab" data-toggle="tab">Описание</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabReview" role="tab" data-toggle="tab">Отзывы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabContains" role="tab" data-toggle="tab">Состав</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabMore" role="tab" data-toggle="tab">Дополнительная информация</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="tab-content" role="tabpanel">
                        <div id="tabDesc" class="fs-20 tab-pane active show">
                            {% include "product/tab/_description.html.twig" %}
                        </div>
                        <div id="tabReview" class="fs-20 tab-pane">
                            {% include "product/tab/_feedback.html.twig" %}
                        </div>
                        <div id="tabContains" class="fs-20 tab-pane">
                            {% include "product/tab/_consist.html.twig" %}
                        </div>
                        <div id="tabMore" class="fs-20 tab-pane">
                            {% include "product/tab/_more.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}